includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    paths:
        - src
        - config
        - database
        - routes

    level: max

    phpVersion: 80200

    tmpDir: .phpstan-cache

    stubFiles:
        - stubs/HasAttributes.stub

    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    checkMissingOverrideMethodAttribute: false

    ignoreErrors: []
